<body>

<div class="container">
  <div class="backbox">
    <div class="loginMsg" [class.visibility] = "isLoginVis">
      <div class="textcontent">
        <p class="title">Manager?</p>
        <p>Click here to log In.</p>
        <button id="switch1" (click)="toggleClass()">LOG IN</button>
      </div>
    </div>
    <div class="signupMsg" [class.visibility] = "isSignupVis">
      <div class="textcontent">
        <p class="title">User?</p>
        <p>Log in here to see all your needed.</p>
        <button id="switch2" (click)="toggleClass()">LOG IN</button>
      </div>
    </div>
  </div>
  <div class="frontbox" [class.moving] = "isFrontMove">
    <form [formGroup]="userForm" class="login" [class.hide] = "isLoginHide" (submit)="onSaveUser($event,userName.value)">
      <h2>LOG IN</h2>
      <div class="inputbox">
        <input formControlName="username" type="text" name="email" placeholder="Username" #userName>
        <input formControlName="passwordU" type="password" name="password" placeholder="Password">
      </div>
      <p *ngIf="!userForm.valid">INPUT CORRECT USERNAME</p>
      <button [disabled]="!userForm.valid"> LOG IN</button>
    </form>

    <form [formGroup]="managerForm" class="signup hide" [class.hide] = "isSignupHide" (submit)="onSaveManager($event)">
      <h2>LOG IN</h2>
      <div class="inputbox">
        <input formControlName="managername" type="text" name="email" placeholder="Managername" >
        <input  formControlName="passwordM" type="password" name="password" placeholder="Password">
      </div>
      <p *ngIf="!managerForm.valid">INPUT CORRECT NAME</p>
      <button type="submit"  [disabled]="!managerForm.valid"> <!--[routerLink]="['/manager']"-->LOG IN</button>
    </form>
  </div>

</div>
</body>
