<body>

  <aside>
    <div class="menu-wrapper">
      <div class="menu">
        <label>MENU</label>
        <ul class="nav-links">
          <li>Finished</li>
          <li>Others</li>
        </ul>
      </div>
    </div>
  </aside>


  <app-task-form [style.display] = displayStatus (formStatus)="changeFormStatus($event)"></app-task-form>


  <main class="container">

    <input type="text" id="filterTask" placeholder="Enter keywords and hit enter to filter" [(ngModel)] = 'listFilter'>
    <button (click)="showDisplay()"><i class="fa fa-plus" aria-hidden="true"></i>NEW</button>

    <ul class="projects">
      <li *ngFor="let t of filteredTasks">
        <span (click)="navToTaskDetail(t.id)"> {{t.title}} => {{t.description}}</span><a (click)="delTask(t.title)">X</a>
      </li>
    </ul>

  </main>

</body>
