@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');



// Variables
$radius: 4px;

/*Typography*/
form label {font-size: .9em;}

/* Base */
* {
  box-sizing: border-box;
}

/* Form */
form {
  font-family: "Droid Sans", sans-serif;
  padding: 1em;
  color: #686868;
  background-color: #dbd9d9;
  position: fixed;
  top: 30%;
  left: 30%;
  width: 60%;
  margin-left: -200px;
  margin-top: -150px;
  z-index: 10;
  border: .1em solid #ddd;
  border-radius: $radius;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.7);
  opacity: 0.8;
  filter: alpha(opacity=80);

}
.hero-detail-body{
  display: flex;
  padding: 10px 10%;
  box-sizing: border-box;
}

.hero-img{
  width: auto;
  flex: 1;
  margin-right: 10px;
}

img{
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-info{
  margin-left: 10px;
  flex: 1;
}
.hero-info p {
  font-size: 22px;
  margin-bottom: 10px;
}

h2{
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  background-color: darken(#ee2d3e, 7%);
  height: 40px;
  align-items: center;
  justify-content: center;
  color:white;
}

.delete {
  width:5%;

  float:right;
  background-color: #686868;
  border: .1em solid #ddd;
  border-radius: $radius;
  color:#ddd;
  &:focus,
  &:hover {
    background: #ee2d3e;
    border-bottom-color: darken(#c8dae6, 7%);
  }
  &:active {
    background: #ee2d3e;
    border-bottom-color: darken(#c8dae6, 7%);
  }
}

.input-col{
  margin-bottom: 15px;
}

label{
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

input{
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 5px;
  line-height: 40px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

input[type="radio"]{
  display: inline-block;
  width: auto;
  height: 20px;
}

button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  height: 40px;
  font-size: 16px;
  color: white;
}
.Submit button {
  //display: block;
  //margin: auto;
  //width: 99.5%;
  background: #ee2d3e;
  color: #fff;
  border: 0;
  border-bottom: $radius solid darken(#c8dae6, 7%);
  font-size: 1em;
  font-weight: bold;
  &:focus,
  &:hover {
    background: #c8dae6;
    border-bottom-color: darken(#c8dae6, 7%);
  }
  &:active {
    background: #c8dae6;
    border-bottom-color: darken(#c8dae6, 7%);
  }
  &:disabled {
    background: gray;
  }
}

.error-msg{
  color:red;
  font-size: 10px;
}


button:disabled{
  background: gray;
}
