<form [formGroup]="myForm" (submit)="onSave($event)">
  <h2>User Form</h2>
  <input type="button" value="X" class="delete" (click)="stopForm()">
  <div class="hero-detail-body">
    <div class="hero-img">
      <img [style.background-image]="'url('+ (myForm.controls['imgUrl'].value ||'http://demo.sc.chinaz.com/Files/pic/icons/5285/260.png') +')'">
      <div class="input-col">
        <label for="imgUrl">Image Url</label>
        <input id="imgUrl" formControlName="imgUrl" type="text" placeholder="input your image url" (keyup)="handleInputError(myForm.controls['imgUrl'],'imgUrl')">
        <div class="error-msg" *ngIf="!myForm.controls['imgUrl'].valid">{{errorMsgs["imgUrl"]}}</div>
      </div>
    </div>
    <div class="hero-info">
      <div class="input-col">
        <label>Name</label>
        <input id="name" formControlName="name" type="text" placeholder="input your name" (keyup)="handleInputError(myForm.controls['name'],'name')">
        <div class="error-msg" *ngIf="!myForm.controls['name'].valid">{{errorMsgs["name"]}}</div>
      </div>
      <div class="input-col">
        <label for="age">Age</label>
        <input id="age" formControlName="age" type="number" placeholder="input your age" (keyup)="handleInputError(myForm.controls['age'],'age')">
        <div class="error-msg" *ngIf="!myForm.controls['age'].valid">{{errorMsgs["age"]}}</div>
      </div>
      <div class="input-col">
        <label>Gender</label>
        <input type="radio" formControlName="gender" value="Female" (keyup)="handleInputError(myForm.controls['gender'],'gender')">f
        <input type="radio" formControlName="gender" value="Male" (keyup)="handleInputError(myForm.controls['gender'],'gender')">m
        <div class="error-msg" *ngIf="!myForm.controls['gender'].valid">{{errorMsgs["gender"]}}</div>
      </div>
      <div class="input-col">
        <label>Address</label>
        <input type="text" formControlName="address" placeholder="input address" (keyup)="handleInputError(myForm.controls['address'],'address')">
        <div class="error-msg" *ngIf="!myForm.controls['address'].valid">{{errorMsgs["address"]}}</div>
        <input type="text" formControlName="city" placeholder="input city" (keyup)="handleInputError(myForm.controls['city'],'city')">
        <div class="error-msg" *ngIf="!myForm.controls['city'].valid">{{errorMsgs["city"]}}</div>
      </div>
      <div class="Submit">
        <button type="submit" [disabled]="!myForm.valid">Submit</button>
        <button (click)="myForm.reset()" type="reset">Reset Form</button>
      </div>
    </div>
  </div>
</form>
