<div class="user-detail">
  <div class="back">
    <i class="fa fa-pencil-square-o" style="font-size:24px" (click)="onClick()"></i>
  </div>
  <div class="header clearfix">
    <h2 class="name">Xi Zhang</h2>
  </div>
  <div class="profile">
    <img class="avatar"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWQlEJLSCnHKoJZJhoiciw4YRoazrkKrh-IpRLwo2L4bOcUnoEUg"/>
    <ul class="basicInfo">
      <li class="info">
        <span class="title">Title  <br></span><span class="infoContent">UI developer</span>

      </li>
      <li class="info">
        <span class="title">Age  <br></span><span class="infoContent">27</span>

      </li>
      <li class="info">
        <span class="title">Gender <br></span><span class="infoContent">Female</span>
      </li>
      <li class="info">
        <span class="title">Email  <br/></span><span class="infoContent">777test@test.com</span>
      </li>
      <li class="info">
        <span class="title">Phone  <br/></span><span class="infoContent">777-111-1234</span>
      </li>
      <li class="info">
        <span class="title">Address <br></span><span class="infoContent">777 South 3rd Street, Harrison, NJ</span>
      </li>
    </ul>
  </div>
</div>
