<form [formGroup]="myForm" (submit)="onSave($event)">
  <div class="task-detail-body">
    <div class="task-info">
      <input type="button" value="X" class="delete" (click)="stopForm()">
      <div class="title">
        <label>Title:</label>
        <input id="titleName" formControlName="title" type="text"  (keyup)="handleInputError(myForm.controls['title'],'title')" #title>
        <div class="error-msg" *ngIf="!myForm.controls['title'].valid">{{errorMsgs["title"]}}</div>
      </div>
      <div class="message">
        <label id="textarea">Description:</label>
        <input id="description" cols="40" rows="8" formControlName="description" type="text"  (keyup)="handleInputError(myForm.controls['description'],'description')" #description>
        <div class="error-msg" *ngIf="!myForm.controls['description'].valid">{{errorMsgs["description"]}}</div>

      </div>
      <div class="Date">
        <div id="sdate">
          <label>Start Date:</label>
          <input formControlName="startDate" type="date" (keyup)="handleInputError(myForm.controls['startDate'],'startDate')" #startdate>
        </div>
        <br/>
        <div id="edate">
          <label>Due Date:</label>
          <input formControlName="dueDate" type="date" (keyup)="handleInputError(myForm.controls['dueDate'],'dueDate')" #duedate>
        </div>
        <div class="error-msg" *ngIf="!myForm.controls['startDate'].valid">{{errorMsgs["startDate"]}}</div>
        <div class="error-msg" *ngIf="!myForm.controls['dueDate'].valid">{{errorMsgs["dueDate"]}}</div>

      </div>
      <div class="Submit">
        <button type="submit" [disabled]="!myForm.valid" >Submit</button>
      </div>
    </div>
  </div>

</form>
