<body>

<app-user-form [style.display] = displayStatus (formStatus)="changeFormStatus($event)" (refreshData)="refreshPage($event)"></app-user-form>


<main class="container">

  <input type="text" id="filterTask" placeholder="Enter keywords and hit enter to filter" [(ngModel)]="listFilter">
  <button (click)="showDisplay()"><i class="fa fa-plus" aria-hidden="true"></i>NEW</button>


  <ul class="projects">
    <li *ngFor="let u of filteredUsers">
      <span (click)="navToHeroDetail(u._id)"> {{u.name}}</span> <a (click)="delUser(u._id)">X</a>
    </li>
  </ul>

</main>

</body>
