@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

body {
  font-family: "Droid Sans", sans-serif;
  width: 100%;
}

aside {
  width:10%;
  float: left;
  margin-left: 2%;
  margin-top: 50px;

}
a {
  float: right;
  text-decoration: none;
  color: #22313f;
  font-weight: bold;
  transition: all .2s ease-in-out;
}

h1 {
  padding-left: 10px;
  font-size: 400%;
  color: #1eee;
  text-shadow: 1px 1px 2px #222;
}

.container {
  width: 60%;
  margin-left:20%;
  margin-right: 20%;
  margin-bottom: 5%;
  float: left;
}

.container > form {
  margin: 10px auto;
}

input, ul.projects {
  background: #eee;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,0.1),0 6px 20px 0 rgba(0,0,0,0.1);
  border: 1px;
  border-radius:7px;
}

input {
  padding: 10px 10px 10px 10px;
  width: 87.5%;
}

button {
  padding: 10px 10px 10px 10px;
  background: #eee;
  border-radius: 5px;
  background: #ee2d3e;
  float: rigth;
  box-sizing: border-box;
  box-shadow: 0 3px 7px 0 rgba(238, 45, 62, 0.1),0 6px 20px 0 rgba(238, 26, 35, 0.1);
  border: 1px;
  border-radius:7px;
  margin-left:2%;
  color:white;

}


ul.projects {
  list-style: square inside;
  padding: 10px;
}

.projects {
  margin: 10px auto;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.1),0 6px 20px 0 rgba(0,0,0,0.11);
  border: 10px;
  border-radius: 7px;

}

.inactive {
  display: none;
}

.projects > li {
  padding: 10px;
  font-weight: 600;
  color: #5a81a5;
}

.projects > li:hover {
  -webkit-box-shadow: 1px 1px 1px 0px #22272D;
  -moz-box-shadow:  1px 1px 1px 0px #22272D;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.11);
  border-radius: 5px;
  background-color:white;
}

.projects > li :nth-child(odd) {
  border-radius: 2px;
}

.projects > li > a {
  float: right;
  text-decoration: none;
  color: #22313f;
  font-weight: bold;
  transition: all .2s ease-in-out;
}

.projects > li > a:hover {
  font-size: 110%;
  color: #c0392b;
}

